# Equal-Weight S&P 500 Index Fund Adapted From CodeAcademy

## Introduction & Library Imports

"The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund." - Nick McCullum

## Library Imports

In [1]:
import numpy as np 
import pandas as pd 
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

## Importing Our List of Stocks

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

In [3]:
from apitoken import IEX_CLOUD_API_TOKEN

## Making Our First API Call

In [4]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}' # IEX Cloud doc help
data = requests.get(api_url).json() # transform http request into a json object
print(data)

{'avgTotalVolume': 107670893, 'calculationPrice': 'tops', 'change': -2.44, 'changePercent': -0.01374, 'close': 0, 'closeSource': 'acfiofli', 'closeTime': None, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': 0, 'highSource': None, 'highTime': None, 'iexAskPrice': 187.28, 'iexAskSize': 104, 'iexBidPrice': 181.98, 'iexBidSize': 119, 'iexClose': 187.21, 'iexCloseTime': 1651424234753, 'iexLastUpdated': 1700133244600, 'iexMarketPercent': 0.01878955309058595, 'iexOpen': 187.903, 'iexOpenTime': 1713549046308, 'iexRealtimePrice': 186.97, 'iexRealtimeSize': 105, 'iexVolume': 1067211, 'lastTradeTime': 1673720143415, 'latestPrice': 183.73, 'latestSource': 'IEX real time price', 'latestTime': '1:06:19 PM', 'latestUpdate': 1670638668166, 'latestVolume': None, 'low': 0, 'lowSource': None, 'lowTime': None, 'marketCap': 3038303354522, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': 0, 'openTime': None, 'openSource': 'ailcffoi', 'peRatio': 16.53, 'previousClose': 191.03, 'previousVolume': 105941420, 'primaryExchange': 'QNDSAA', 'symbol': 'AAPL', 'volume': None, 'week52High': 183.39, 'week52Low': 119.2, 'ytdChange': 0.0121187021415203, 'isUSMarketOpen': True}

## Parsing Our API Call

In [5]:
price = data['latestPrice'] #taking price out through using the dictionary provided
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

In [6]:
my_columns = ['Ticker','Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
# final_dataFrame = pd.DataFrame([[0,0,0,0]],columns = my_columns) 
# print(final_dataFrame) prints it in plain text
dataFrame = pd.DataFrame(columns = my_columns) # two dimensional 
dataFrame

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [7]:
dataFrame = dataFrame.append(
    pd.Series(
        [symbol, price, market_cap, 'N/A'],
        index = dataFrame.columns, # where to add the data to
    ),
    ignore_index=True # needed when appending panda's data frame
)

In [8]:
dataFrame

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       183.73         3038303354522                     N/A

## Looping Through The Tickers in Our List of Stocks

In [9]:
dataFrame = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker'][:10]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}' 
    data = requests.get(api_url).json() # really slow because it is http
    dataFrame = dataFrame.append(
        pd.Series(
            [stock, data['latestPrice'], data['marketCap'], 'N/A'],
            index = dataFrame.columns
        ),
        ignore_index = True
    )

In [10]:
dataFrame

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A      154.699           46518001360                     N/A
1    AAL       19.740           12559333469                     N/A
2    AAP      241.930           15580842340                     N/A
3   AAPL      187.680         2997699337882                     N/A
4   ABBV      140.063          247034374624                     N/A
5    ABC      133.650           28063684101                     N/A
6   ABMD      375.490           16545373346                     N/A
7    ABT      136.000          241860661108                     N/A
8    ACN      419.105          278781196577                     N/A
9   ADBE      565.290          263819697446                     N/A

## Using Batch API Calls to Improve Performance

In [11]:
# will yield n number of chunks that forms a list
def chunks(lst, n):
    for i in range(0,len(lst),n):
        yield lst[i:i + n]

In [12]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []

In [13]:
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
dataFrame = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        dataFrame = dataFrame.append(
            pd.Series(
                [symbol, data[symbol]['quote']['latestPrice'], data[symbol]['quote']['marketCap'], 'N/A'],
                index = dataFrame.columns
            ),
            ignore_index=True
        )

In [14]:
dataFrame

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      156.997           46640658232                     N/A
1      AAL       19.980           12505429937                     N/A
2      AAP      244.420           14950993491                     N/A
3     AAPL      179.880         2981590243152                     N/A
4     ABBV      140.606          250443202642                     N/A
..     ...          ...                   ...                     ...
500    YUM      142.000           42198120942                     N/A
501    ZBH      132.880           28761981362                     N/A
502   ZBRA      582.180           32427112529                     N/A
503   ZION       69.730           10639398447                     N/A
504    ZTS      225.050          110044802243                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

In [23]:
portfolio_size = input('Enter the value of portfolio: ')

try:
    portfolio_size = float(portfolio_size)
    print(type(portfolio_size))
except:
    print('That is not a number')
    portfolio_size = input('Enter the value of portfolio: ')
    portfolio_size = float(portfolio_size)

Enter the value of portfolio: 10000000
<class 'float'>

In [24]:
position_size = portfolio_size/len(dataFrame)
for i in range(0, len(dataFrame)):
    dataFrame.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / dataFrame.loc[i, 'Stock Price'])
    
dataFrame

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      156.997           46640658232                     126
1      AAL       19.980           12505429937                     991
2      AAP      244.420           14950993491                      81
3     AAPL      179.880         2981590243152                     110
4     ABBV      140.606          250443202642                     140
..     ...          ...                   ...                     ...
500    YUM      142.000           42198120942                     139
501    ZBH      132.880           28761981362                     149
502   ZBRA      582.180           32427112529                      34
503   ZION       69.730           10639398447                     283
504    ZTS      225.050          110044802243                      87

[505 rows x 4 columns]

## Formatting Our Excel Output

### Initializing our XlsxWriter Object

In [43]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine = 'xlsxwriter')
dataFrame.to_excel(writer, 'Recommended Trades', index = False)

### Creating the Formats We'll Need For Our `.xlsx` File

In [44]:
background_color = '#0a0a23'
font_color = '#ffffff'


string_format = writer.book.add_format(
    {'font_color': font_color, 'bg_color': background_color, 'border': 1} #'bg_color' needs to stay the same
)

dollar_format = writer.book.add_format(
    {'num_format': '$0.00', 'font_color': font_color, 'bg_color': background_color, 'border': 1} #'bg_color' needs to stay the same
)

integar_format = writer.book.add_format(
    {'num_format': '0', 'font_color': font_color, 'bg_color': background_color, 'border': 1} #'bg_color' needs to stay the same
)

### Applying the Formats to the Columns of Our `.xlsx` File

In [47]:
# writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format) #18 is column width
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)

In [49]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integar_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])

## Saving Our Excel Output

In [ ]:
writer.save()